@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Bebas Neue", sans-serif;
  background-color: transparent;
  user-select: none;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #151515;
  border: 1px solid black;
  border-bottom: 1px solid white;
}

.title {
  font-size: 2em;
  margin-left: 70px;
  color: white;
}

/*BOTONES*/
.botones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 70px;
}

.buttonlogin {
  background-color: #ffffff;
  border: 5px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1em;
  font-weight: bold;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  transition: 0.3s;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

.buttonlogin:hover {
  background-color: rgb(249, 250, 251);
  outline: none;
  border-color: rgba(255, 255, 255, 0.7);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
}

.buttonlogin:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.buttonlogin:focus-visible {
  box-shadow: none;
}

/*BARRA DE BUSQUEDA*/
.group {
  width: 500px;
  height: 200px;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 500px;
  margin-left: 70px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
  font-weight: bold;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(255, 255, 255, 0.7);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
/*CARRITO DE LA COMPRA*/
@function rem($value) {
  @return unquote(($value/1px)/16+"rem");
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-btn {
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  background-color: #212121;
  color: #efefef;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
  position: relative;
  margin: 14px;
  &:hover {
    background-color: darken(#212121, 4%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .count {
    position: absolute;
    height: 20px;
    width: 20px;
    display: inline-flex;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #85cb33;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 400px;
    transition: all ease 1s;
    z-index: 1;
  }
}

.cart-btn:hover {
  background-color: rgb(249, 250, 251);
  outline: none;
  border-color: rgba(255, 255, 255, 0.7);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
}

.cart {
  position: fixed;
  z-index: 99;
  cursor: pointer;
  transition: 0.5s;
  left: 94.5%;
  margin: auto;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  margin: 15px;
  font-size: 20px;
  background-color: #151515;
  color: #efefef;
  .count {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #0070f3;
    border-radius: 500px;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 5px;
    color: white;
    font-weight: bold;
    transform: translate(50%, -50%);
    z-index: 1;
  }
}

.cart > img {
  width: 35px;
  height: 35px;
}

.cart:hover {
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
}

.xcarr {
  font-size: 1em;
}
/*CONTENIDO PRINCIPAL*/
.body {
  margin: 100px;
  background-color: #151515;
}

.car-presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
}

.image {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image > img {
  width: 70%;
  height: 100%;
  border: 5px solid black;
}

/*ZOOM IN*/
.image > img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.image > img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.description {
  width: 60%;
  height: 100%;
  margin: 50px;
  color: white;
}
.description > h1 {
  margin: 0;
  font-size: 3em;
  text-align: center;
  margin-left: -30px;
}

.botonesProducto {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  margin-left: -15px;
}

.botonCompra {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #0070f3;
  color: white;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.botonCompra:hover {
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
}
.botonCesta {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 16px;
  background: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
.botonCesta:hover {
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
}

.unidadArticulo {
  width: 30px;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 25px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
}

.unidadArticulo:focus {
  border: 2px solid rgb(124, 138, 255);
}
/*MOSTRAR PRODUCTOS*/
.mostrarProd {
  position: absolute;
  z-index: 99;
  top: -3%;
  left: 53%;
  transform: translate(-50%, -50%);
  margin-top: 10.2%;
  width: 500px;
  height: 120px;
  color: #919198;
  display: flex;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  flex-direction: column;
  gap: 10px;
}
.mostrarProd::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.mostrarProd::-webkit-scrollbar-track {
  background-color: transparent;
}

.mostrarProd::-webkit-scrollbar {
  background-color: transparent;
}

.producto {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 50px;
  cursor: pointer;
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  width: 475px;
  height: 30px;
  border: 1px solid black;
  transition: 0.5s;
  user-select: none;
}

.producto:hover {
  box-shadow: 0 2px 3px 0 black;
  transform: scale(1.01);
  /*box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);*/
}

.producto2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 50px;
  /*cursor: pointer;*/
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  width: 475px;
  height: 30px;
  border: 1px solid black;
  transition: 0.5s;
}

/*FOOTER*/
footer {
  width: 100%;
  height: 25%;
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.informacion {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  gap: 100px;
  color: white;
}

.derechos {
  width: 100%;
  height: 20%;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #151515;
}

.vertical-bar {
  width: 1px;
  height: 70%;
  background-color: white;
}
.news {
  margin-top: -20px;
}
#newsletter {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: -20px;
  margin-bottom: 30px;
}

input[type="text"] {
  width: 60%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px #d9d6d6;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 500;
}

input[type="submit"] {
  width: 100px;
  height: 45px;
  text-align: center;
  background-color: #0677ff;
  border: 2px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 900;
}
